<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Xmas Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
  </div>

  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center">
      <ion-col tappable class="ion-text-center" size="4" *ngFor="let door of doors" (click)="openDoor(door)">
        <div class="day" [ngClass]="{'closed': isClosed(door)}">
          <div class="locked"></div>
          <div class="locked-horizontal"></div>
          <p>{{door +1}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>